<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "header.html" %}
	</head>
	
	<body>
		{% include "nav.html" %}
		<div class="container" id="mainbody">
			
			{% block content %}{% endblock %}

			{% include "footer.html" %}
			
		</div> <!-- /container -->


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}dist/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="{{ STATIC_URL }}assets/js/ie10-viewport-bug-workaround.js"></script>
		
		<script type="text/javascript" src="{{ STATIC_URL }}xpull/xpull.js"></script>
		
		<script>
		{% block js %}{% endblock %}
		</script>
		
		
		<script>
			$('#mainbody').xpull({
				'pullThreshold':50,
				'spinnerTimeout':0,
				'callback':function(){
					$.getJSON("/garage/status/", function(json) { 
								garage_door_open = json.garage_door_open;
								change_garage_status(garage_door_open);
								$('#mainbody').data('plugin_xpull').reset();
								 })
				}
			 });
		</script>
		
		
	</body>
</html>