{% extends "base.html" %}

{% block js %}

var garage_door_open = '{{garage_door_open}}'

function change_garage_status(garage_door_open){
	
	if (garage_door_open == 'true'){
		$("#garage-trigger").removeClass('btn-success btn-warning').addClass('btn-danger').text('Close')
		$("#garage-alert").removeClass('alert-info alert-warning').addClass('alert-danger').html('<strong>Warning!</strong> The Garage Door is open.')
	} else if (garage_door_open == 'false'){
		$("#garage-trigger").removeClass('btn-danger btn-warning').addClass('btn-success').text('Open')
		$("#garage-alert").removeClass('alert-danger alert-warning').addClass('alert-info').text('The Garage Door is closed.')
	} else if (garage_door_open == 'null'){
		$("#garage-trigger").removeClass('btn-success btn-danger').addClass('btn-warning').text('Moving...')
		$("#garage-alert").removeClass('alert-info alert-danger').addClass('alert-warning').text('The Garage Door is moving...')
	} else if (garage_door_open == 'unknown'){
		$("#garage-trigger").removeClass('btn-success btn-danger').addClass('btn-warning').text('UNKNOWN')
		$("#garage-alert").removeClass('alert-info alert-danger').addClass('alert-warning').html('<strong>Warning!</strong> The Garage Door is in an unknown status.')
	}
}

function change_light_status(this_a){
	
	$.getJSON("/lights/status/?pin=" + this_a.data('pin'), function(json) { 
							
							if(json.light_status == 1){
								this_a.removeClass('btn-danger btn-warning').addClass('btn-success').text('Turn Off')
							} else if (json.light_status == 2){
								this_a.removeClass('btn-success btn-warning').addClass('btn-danger').text('Turn On')
							} else if (json.light_status == 3){
								this_a.removeClass('btn-danger btn-success').addClass('btn-warning').text('UNKNOWN')
								}
							})
	
}

$().ready(function(){
	
	change_garage_status(garage_door_open)
	
	change_light_status($("#garage-zone-1"))
	change_light_status($("#christmas-zone-1"))
	
	$(".light-button").on("click", function() {
			var this_button = $(this);
			
			if ($(this).text() == "Turn On"){
				$.getJSON("/lights/trigger/?pin=" + $(this).data('pin') + "&action=1", function(json) {
					change_light_status(this_button);
				});
			}else if ($(this).text() == "Turn Off"){
				$.getJSON("/lights/trigger/?pin=" + $(this).data('pin') + "&action=2", function(json) {
					change_light_status(this_button);
				});
			}
		}
	);
	
	$("#garage-trigger").on("click", function() {

		if (garage_door_open != 'null'){

			if (garage_door_open == 'true'){
				garage_door_open = 'null';
			}else if(garage_door_open == 'false'){
				garage_door_open = 'null';	
			}else if(garage_door_open == 'unknown'){
				garage_door_open = 'null';	
			}

			change_garage_status(garage_door_open)

			$.getJSON("/garage/trigger/", function(json) { 
								garage_door_open = json.garage_door_open;
								change_garage_status(garage_door_open);
								 })
		};
	});
});


{% endblock %}

{% block content %}			
			<div class="row" style="padding-top:10px;">
				<div class="col-md-4">
					<div class="panel panel-default">
							
								<div class="panel-heading">
									Status
								</div>
								
								<div class="panel-body">
									<p><div id="garage-alert" class="alert alert-warning" role="alert"><strong>Warning!</strong> The Garage Door is in an unknown status.</div></p>
									<!--<p><div class="alert alert-info" role="alert"><strong>Warning!</strong> The Sprinklers are on.</div></p>-->
								</div>
						</div>
				</div>
				<div class="col-md-4">
				 	<div class="panel panel-default">
							
								<div class="panel-heading">
									Control Panel
								</div>
								
								<div class="panel-body">
									<table class="table">
											<tr>
													<td>Garage Door:</td>
														<td><a id="garage-trigger" class="btn btn-sm btn-warning" href="#" role="button">UNKNOWN</a></td>
												</tr>
												<tr>
													<td>Garage Lights:</td>
														<td><a id="garage-zone-1" data-pin="3" class="btn btn-sm btn-warning light-button" href="#" role="button">UNKNOWN</a></td>
												</tr>
												<tr>
													<td>X-mas Lights:</td>
														<td><a id="christmas-zone-1" data-pin="4" class="btn btn-sm btn-warning light-button" href="#" role="button">UNKNOWN</a></td>
												</tr>
												<tr>
													<td>Sprinklers:</td>
														<td><a class="btn btn-sm btn-warning" href="#" role="button">Running</a></td>
												</tr>
												
										</table>
					
								</div>
						</div>
				 </div>
				 <div class="col-md-4">
				 	
						<div class="panel panel-default">
							
								<div class="panel-heading">
									Weather
								</div>
								
								<div class="panel-body">
									<table class="table">
											<tr>
													<td>Sunrise:</td>
														<td>6:04 am</td>
												</tr>
												<tr>
													<td>Sunset:</td>
														<td>5:30 pm</td>
												</tr>
												<tr>
													<td>Precipitation:</td>
														<td>0%</td>
												</tr>
											 
												
										</table>
					
								</div>
						</div>
						
				 </div>
			</div>
{% endblock %}
