{% extends "base.html" %}

{% block title %}SPRINKLERS{% endblock %}

{% block content %}
      <div class="row" style="padding-top:10px;">
      	<div class="col-md-4">
        	<div class="panel panel-default">
            	
                <div class="panel-heading">
                	Weekly Schedule
                </div>
                
                <div class="panel-body">
                	<table class="table">
                    	<tr>
                        	<td><input type="checkbox" value="" unchecked></td>
                            <td>Sunday</td>
                        </tr>
                        <tr>
                        	<td><input type="checkbox" value="" unchecked></td>
                            <td>Monday</td>
                        </tr>
                        <tr>
                        	<td><input type="checkbox" value="" unchecked></td>
                            <td>Tuesday</td>
                        </tr>
                        <tr>
                        	<td><input type="checkbox" value="" unchecked></td>
                            <td>Wednesday</td>
                        </tr>
                        <tr>
                        	<td><input type="checkbox" value="" unchecked></td>
                            <td>Thursday</td>
                        </tr>
                        <tr>
                        	<td><input type="checkbox" value="" unchecked></td>
                            <td>Friday</td>
                        </tr>
                        <tr>
                        	<td><input type="checkbox" value="" unchecked></td>
                            <td>Saturday</td>
                        </tr>
                    </table>
                    <center><a class="btn btn-sm btn-success" href="#" role="button" style="padding: 5px 50px 5px 50px;">Save</a></center>
                </div>
            </div>
        </div>
        <div class="col-md-4">
         	<div class="panel panel-default">
            	
                <div class="panel-heading">
                	Timer Control
                </div>
                
                <div class="panel-body">
                	<table class="table">
                    	<tr>
                        	<td>Zone 1:</td>
                            <td>
                            	<input type="text" size="6" id="zone1">
                            </td>
                            <td>
                                <select>
                                	<option value="AM" selected>AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                
                            </td>
                            <td>
                            	<select>
                                	<option value="0" selected>0 min</option>
                                    <option value="1">1 min</option>
                                    <option value="2">2 min</option>
                                    <option value="3">3 min</option>
                                    <option value="4">4 min</option>
                                    <option value="5">5 min</option>
                                    <option value="6">6 min</option>
                                    <option value="7">7 min</option>
                                    <option value="8">8 min</option>
                                    <option value="9">9 min</option>
                                    <option value="10">10 min</option>
                                    <option value="15">15 min</option>
                                    <option value="20">20 min</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                        	<td>Zone 2:</td>
                            <td>
                            	<input type="text" size="6" id="zone1">
                            </td>
                            <td>
                                <select>
                                	<option value="AM" selected>AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                
                            </td>
                            <td>
                            	<select>
                                	<option value="0" selected>0 min</option>
                                    <option value="1">1 min</option>
                                    <option value="2">2 min</option>
                                    <option value="3">3 min</option>
                                    <option value="4">4 min</option>
                                    <option value="5">5 min</option>
                                    <option value="6">6 min</option>
                                    <option value="7">7 min</option>
                                    <option value="8">8 min</option>
                                    <option value="9">9 min</option>
                                    <option value="10">10 min</option>
                                    <option value="15">15 min</option>
                                    <option value="20">20 min</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                        	<td>Zone 3:</td>
                            <td>
                            	<input type="text" size="6" id="zone1">
                            </td>
                            <td>
                                <select>
                                	<option value="AM" selected>AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                
                            </td>
                            <td>
                            	<select>
                                	<option value="0" selected>0 min</option>
                                    <option value="1">1 min</option>
                                    <option value="2">2 min</option>
                                    <option value="3">3 min</option>
                                    <option value="4">4 min</option>
                                    <option value="5">5 min</option>
                                    <option value="6">6 min</option>
                                    <option value="7">7 min</option>
                                    <option value="8">8 min</option>
                                    <option value="9">9 min</option>
                                    <option value="10">10 min</option>
                                    <option value="15">15 min</option>
                                    <option value="20">20 min</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                        	<td>Zone 4:</td>
                            <td>
                            	<input type="text" size="6" id="zone1">
                            </td>
                            <td>
                                <select>
                                	<option value="AM" selected>AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                
                            </td>
                            <td>
                            	<select>
                                	<option value="0" selected>0 min</option>
                                    <option value="1">1 min</option>
                                    <option value="2">2 min</option>
                                    <option value="3">3 min</option>
                                    <option value="4">4 min</option>
                                    <option value="5">5 min</option>
                                    <option value="6">6 min</option>
                                    <option value="7">7 min</option>
                                    <option value="8">8 min</option>
                                    <option value="9">9 min</option>
                                    <option value="10">10 min</option>
                                    <option value="15">15 min</option>
                                    <option value="20">20 min</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                        	<td>Zone 5:</td>
                            <td>
                            	<input type="text" size="6" id="zone1">
                            </td>
                            <td>
                                <select>
                                	<option value="AM" selected>AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                
                            </td>
                            <td>
                            	<select>
                                	<option value="0" selected>0 min</option>
                                    <option value="1">1 min</option>
                                    <option value="2">2 min</option>
                                    <option value="3">3 min</option>
                                    <option value="4">4 min</option>
                                    <option value="5">5 min</option>
                                    <option value="6">6 min</option>
                                    <option value="7">7 min</option>
                                    <option value="8">8 min</option>
                                    <option value="9">9 min</option>
                                    <option value="10">10 min</option>
                                    <option value="15">15 min</option>
                                    <option value="20">20 min</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                        	<td>Zone 6:</td>
                            <td>
                            	<input type="text" size="6" id="zone1">
                            </td>
                            <td>
                                <select>
                                	<option value="AM" selected>AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                
                            </td>
                            <td>
                            	<select>
                                	<option value="0" selected>0 min</option>
                                    <option value="1">1 min</option>
                                    <option value="2">2 min</option>
                                    <option value="3">3 min</option>
                                    <option value="4">4 min</option>
                                    <option value="5">5 min</option>
                                    <option value="6">6 min</option>
                                    <option value="7">7 min</option>
                                    <option value="8">8 min</option>
                                    <option value="9">9 min</option>
                                    <option value="10">10 min</option>
                                    <option value="15">15 min</option>
                                    <option value="20">20 min</option>
                                </select>
                            </td>
                        </tr>
                    </table>
					<center><a class="btn btn-sm btn-success" href="#" role="button" style="padding: 5px 50px 5px 50px;">Save</a></center>
                </div>
            </div>
         </div>
         <div class="col-md-4">
         	
            <div class="panel panel-default">
            	
                <div class="panel-heading">
                	Manual Override
                </div>
                
                <div class="panel-body">
                	<table class="table">
                    	<tr>
                        	<td>
                                <select>
                                	<option value="1" selected>Zone 1</option>
                                    <option value="2">Zone 2</option>
                                    <option value="3">Zone 3</option>
                                    <option value="4">Zone 4</option>
                                    <option value="5">Zone 5</option>
                                    <option value="6">Zone 6</option>
                                </select>
                                
                            </td>
                            <td>
                            	<select>
                                	<option value="0" selected>0 min</option>
                                    <option value="1">1 min</option>
                                    <option value="2">2 min</option>
                                    <option value="3">3 min</option>
                                    <option value="4">4 min</option>
                                    <option value="5">5 min</option>
                                    <option value="6">6 min</option>
                                    <option value="7">7 min</option>
                                    <option value="8">8 min</option>
                                    <option value="9">9 min</option>
                                    <option value="10">10 min</option>
                                    <option value="15">15 min</option>
                                    <option value="20">20 min</option>
                                </select>
                            </td>
                            <td>
                            	 <a class="btn btn-sm btn-success" href="#" role="button">Run</a>
                            </td>
                        </tr>
                   </table>
					
                </div>
            </div>
            
         </div>
          <div class="row" style="padding-top:10px;">
      	<div class="col-md-4">
        	<div class="panel panel-default">
            	
                <div class="panel-heading">
                	Zone Description
                </div>
                
                <div class="panel-body">
                	<table class="table">
                    	<tr>
                        	<td>Zone 1:</td>
                            <td><textarea rows="3" cols="30">Backyard grass</textarea></td>
                        </tr>
                        <tr>
                        	<td>Zone 2:</td>
                            <td><textarea rows="3" cols="30">Backyard back planter</textarea></td>
                        </tr>
                        <tr>
                        	<td>Zone 3:</td>
                            <td><textarea rows="3" cols="30">Backyard side planters</textarea></td>
                        </tr>
                        <tr>
                        	<td>Zone 4:</td>
                            <td><textarea rows="3" cols="30">Front Grass</textarea></td>
                        </tr>
                        <tr>
                        	<td>Zone 5:</td>
                            <td><textarea rows="3" cols="30">Front Planter</textarea></td>
                        </tr>
                        <tr>
                        	<td>Zone 6:</td>
                            <td><textarea rows="3" cols="30">Nothing</textarea></td>
                        </tr>
                    </table>
                    <center><a class="btn btn-sm btn-success" href="#" role="button" style="padding: 5px 50px 5px 50px;">Save</a></center>
                </div>
            </div>
        </div>
      </div>
      </div>
{% endblock %}
